*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: #222;
    height: 100%;
    width: 100%;
}

#navbar {
    height: 10%;
    padding: 20px 20px;
    display: flex;
    background-color: #fff;
    gap: 300px;
}

#titles {
    padding: 5px;
    display: flex;
    gap: 50px;
}

#titles a {
    text-decoration: none;
}