@font-face {
    font-family: none;
    src: url();
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

#Name {
    height: 300px;
    color: white;
    background-color: #1B2433;
    text-align: center;
}

#Name h1 {
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 20px;
}

#Name p {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20;
    font-style: italic;
    text-transform: uppercase;
}

#about {
    background-color: #FFFFFF;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    border: 2px solid #FBFBFB;
    border-radius: 20px;
    border-width: 5px;
}

#about h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
}

#about p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-bottom: 40px;
}

#edu {
    height: 265px;
    background-color: #DCF1FF;
    border: 2px solid #EDF6FA;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

#edu h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
}

#course {
    height: 50px;
    background-color: #FFFFFF;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
#course h3 {
    padding: 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#University {
    height: 50px;
    background-color: #FFFFFF;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    text-align: center;
}

#University h3{
    padding: 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#skills {
    height: 400px;
    background-color: #FEF1BF;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    text-align: center;
}

#skills h3 {
    padding: 50px;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

#sk-1{
    height: 50px;
    background-color: #FFFFFF;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#sk-1 h2 {
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

#sk-2 {
    height: 50px;
    background-color: #FFFFFF;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#sk-2 h2 {
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

#sk-3 {
    height: 50px;
    background-color: #FFFFFF;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#sk-3 h2 {
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

#project {
    height: 300px;
    background-color: #B8D7C2;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    text-align: center;
}

#project h3 {
    padding: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

#title {
    height: 50px;
    background-color: #FFFFFF;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#title h2 {
    padding-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}
