*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color:#222;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 300px 80px 200px 100px 200px;

    grid-template-areas: "header header header"
                         "section section section"
                         "box1 box1 box1"
                         "box2 box3 box4"
                         "box5 box5 box5"
    
    
    ;
}

header {
    grid-area: header;
    background-color: lightblue;
}

section {
    grid-area: section;
    background-color: bisque;
}

.box1 {
    grid-area: box1;
    background-color: lightcoral;
}

.box2 {
    background-color: lightslategrey;
}

.box3 {
    background-color: lemonchiffon;
}

.box4 {
    background-color: darkcyan;
}

.box5 {
    grid-area: box5;
    background-color: rgb(124, 209, 209);
}

.box6 {
    background-color: darkseagreen;
}

.box7 {
    background-color: dimgray;
}

.box8 {
    background-color: rgb(76, 120, 147);
}