*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    color: #222;
}
html, body{
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#nav {
    padding: 10px 20px;
}

#nav a {
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
}

#main h1 {
    font-size: 250px;
    font-weight: 400;
    padding-left: 90px;
    padding-top: 70px;
}

#btmbox {
    width: 300px;
    position: absolute;
    left: 4%;
    bottom: 5%;
}

#btmbox h2 {
    margin-bottom: 10px;
    font-weight: 100;
}

#btmbox p {
    margin-bottom: 10px;
}

#btmbox h3{
    margin-bottom: 10px;
    font-weight: 100;
}

#main img{
    height: 300px;
    width: 200px;
    position: absolute;
}

#img1{
    right: 30%;
    top: 40%;
}

#img2{
    bottom: 0;
    left: 45%;
}

#img3{
    right: 25%;
    top: 10%;
}