*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html , body {
    height: 100%;
    width: 100%;
}

.main{
    height: auto;
    width: 100%;
    background-color: #1a1717d9;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 30px;
}

#box1 {
    height: 500px;
    width: 350px;
    background-color: #111010d5;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;


    color: #fff;
}

#box1 img {
    width: 100%;
    border-radius: 10px;
}

#box1 #ele1 {
    height: auto;
    padding-top: 10px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

#box1 #ele1 button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.632);
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}


#box1 #ele2 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 20px;

}

#box1 #inner {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#box1 #inner #ele2 button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.632);
    padding: 1px;
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}